{extend name="./template/indexlayout.html"}
{block name="help"}active{/block}
{block name="css"}
.card-header{
background:#d9363a;
color:#fff;
}
 .card-header a{
  color:#fff !important;
  text-decoration:none !important;
}

{/block}
{block name="main"}
<div class="container">
<div class="row">
<div class="col-md-3">

<div class="card ">
  <div class="card-header">
       <strong>常见问题</strong>
       <p class="mb-0 pull-right"><a href="{:url('question')}"><small>查看更多 </small></a><span class="fa fa-question-circle-o"></span></p>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
    <li>xxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxx</li>
    <li>xxxxxxxxxxxxxxxx</li>
    </ul>
  </div>
</div>


</div>
<div class="col-md-9">
<div class="card">
  <div class="card-header">
    <strong>电商咨询</strong>
  </div>
  <div class="card-body">
   <div class="media">
  <img class="align-self-center mr-3" src="..." alt="Generic placeholder image">
  <div class="media-body">
   <p class="d-flex justify-content-between mb-0"><span>4984*@qq.com</span><span>2018.4.7</span></p>
   <p> Cras justo odio</p>
   <span class="fa fa-eye pull-right"></span>
  </div>
   </div>
  </div>
</div>
</div>
</div>
</div>
{/block}
